@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Beckoned Pathx</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Beckoned Pathx</h2>
        <p>
            Beckoned Pathx is a sample application helps people find other people to do things with.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Plenty of Events</h2>
        <p>Our -users- enjoy plenty ... from hikes, festivals, food, to ...</p>
        <p><a class="btn btn-default" href="#">Get Started! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Adventure Awaits</h2>
        <p>Millions of self proclaimed users rate us 5/5</p>
        <p><a class="btn btn-default" href="#">Rate Us &raquo;</a></p>
    </div>
</div>